# The default permissions for a uDMX device is 664 and the
# default ownership is root:root.
#
# Uncomment the rule you want to use
#
# This rule gives all users read/write access
# SUBSYSTEM=="usb|usb_device", ATTR{idVendor}=="16c0", ATTR{idProduct}=="05dc", MODE="0666", SYMLINK+="uDMXusb%n"
#
# This rule gives members of the pi group read/write access (recommended).
# All other users have read-only access which effectively makes the device unuseable.
# SUBSYSTEM=="usb|usb_device", ATTR{idVendor}=="16c0", ATTR{idProduct}=="05dc", GROUP="pi", SYMLINK+="uDMXusb%n"
